* {
    Padding: 0px;
    Margin: 0px;
}

	
#header_global{
    width: 100%;
}
#header{
   
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: 0;

}
#content_global{
    width: 100%;
}
#content{
    width: 1020px;
    height: 1000px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #363636;
}
		h3{
			text-align: center;		
		}
	
		p{
			text-align: justify;		
		}
		
		.foto{
	padding: 10px;
	margin: 10px;
	margin-left: 10px;
	background-color: gray;
	float: left;
	text-align: center;
}
		.foto>p{
				text-align: center;		
}
		.margem{
			margin-bottom: 25px;	
			margin-top: 10px;	
		}
	
#footer_global{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #363636;
}
#footer{
    width: 1020px;
    height: 50px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #363636;
    text-align: left;
     
}